<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile=".\internal_logs\internallog_prod.txt">

	<targets>
		<!-- Archivo de log diario en producción -->
		<target name="logfile" xsi:type="File"
				fileName=".\logs\prod\${shortdate}_logfile.txt"
				layout="${longdate} ${level:uppercase=true} ${message}" />
	</targets>

	<rules>
		<!-- Solo loguea desde Info o superior -->
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>
